interactions:
- request:
    body: '{"code": "marker", "value": "AUST"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "aust"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"1993-06-08T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":30330,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"aust\"},{\"attribute_datatype_code\":\"text\",\"code\":\"name\",\"date_from\":\"1993-06-08T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        name\",\"description_is\":\"Nafn st\xF6\xF0var\",\"id_attribute_value\":30331,\"name_en\":\"Name\",\"name_is\":\"Nafn\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":\"Austmannsbunga\"},{\"attribute_datatype_code\":\"numeric\",\"code\":\"lat\",\"date_from\":\"1993-06-08T00:00:00\",\"date_to\":null,\"description_en\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/4235
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"boolean\",\"code\":\"is_near_fault_zones\",\"date_from\":\"1993-06-08T00:00:00\",\"date_to\":null,\"description_en\":\"Is
        near fault zones\",\"description_is\":\"Er n\xE1l\xE6gt sprungusv\xE6\xF0i\",\"id_attribute_value\":137997,\"name_en\":\"Is
        near fault zones\",\"name_is\":\"Er n\xE1l\xE6gt sprungusv\xE6\xF0i\",\"python_constraint\":\"^(true$|false$)\",\"sort_order\":9999,\"value\":\"true\"},{\"attribute_datatype_code\":\"text\",\"code\":\"bedrock_condition\",\"date_from\":\"1993-06-08T00:00:00\",\"date_to\":\"1993-06-08T00:00:00\",\"description_en\":\"fresh,
        jointed, weathered\",\"description_is\":\"\xC1 ENSKU, fresh, jointed, weathered\",\"id_attribute_value\":137995,\"name_en\":\"Bedrock
        condition\",\"name_is\":\"\xC1stand berggrunns\",\"python_constraint\":\".*\",\"sort_order\":9999,\"value\":\"weathered\"},{\"attribute_datatype_code\":\"text\",\"code\":\"continuity\",\"date_from\":\"2010-04-28T00:00:00\",\"date_to\":null,\"description_en\":\"GPS
        continuity: continuous, campaign\",\"description_is\":\"\xC1 ENSKU, samfella
        GPS-m\xE6linga: continuous, campaign\",\"id_attribute_value\":137999,\"name_en\":\"Continuity\",\"name_is\":\"Samfella\",\"python_constraint\":\"^(continuous$|campaign$)\",\"sort_order\":9999,\"value\":\"continuous\"},{\"attribute_datatype_code\":\"text\",\"code\":\"description\",\"date_from\":\"1993-06-08T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        description\",\"description_is\":\"L\xFDsing\",\"id_a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/entity_contacts/4235
  response:
    body:
      string: "[{\"id_contact_entity_relationship\":4526,\"id_contact\":1256,\"id_entity\":4235,\"per_time_from\":\"2011-12-15T00:00:00\",\"per_time_to\":null,\"role\":\"owner\",\"name\":\"Ve\xF0urstofa
        \xCDslands\",\"ssid\":\"6309080350\",\"address\":\"B\xFAsta\xF0arvegur 7-9,
        105 Reykjav\xEDk, \xCDsland\",\"job_title\":\"\",\"organization\":\"Ve\xF0urstofa
        \xCDslands\",\"phone_primary\":\"5226000\",\"phone_secondary\":\"\",\"phone_tertiary\":\"\",\"contact_start_date\":\"1845-01-01T00:00:00\",\"contact_end_date\":null,\"comment\":\"\",\"role_is\":\"Eigandi
        st\xF6\xF0var\"}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
