interactions:
- request:
    body: '{"code": "marker", "value": "VMEY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "vmey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"2000-07-26T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":31310,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"vmey\"},{\"attribute_datatype_code\":\"text\",\"code\":\"name\",\"date_from\":\"2000-07-26T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        name\",\"description_is\":\"Nafn st\xF6\xF0var\",\"id_attribute_value\":31311,\"name_en\":\"Name\",\"name_is\":\"Nafn\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":\"Vestmannaeyjar\"},{\"attribute_datatype_code\":\"numeric\",\"code\":\"lat\",\"date_from\":\"2000-07-26T00:00:00\",\"date_to\":null,\"description_en\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/4430
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"boolean\",\"code\":\"is_near_fault_zones\",\"date_from\":\"2000-07-26T00:00:00\",\"date_to\":null,\"description_en\":\"Is
        near fault zones\",\"description_is\":\"Er n\xE1l\xE6gt sprungusv\xE6\xF0i\",\"id_attribute_value\":113212,\"name_en\":\"Is
        near fault zones\",\"name_is\":\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/entity_contacts/4430
  response:
    body:
      string: "[{\"id_contact_entity_relationship\":4386,\"id_contact\":1256,\"id_entity\":4430,\"per_time_from\":\"2000-07-26T00:00:00\",\"per_time_to\":null,\"role\":\"owner\",\"name\":\"Ve\xF0urstofa
        \xCDslands\",\"ssid\":\"6309080350\",\"address\":\"B\xFAsta\xF0arvegur 7-9,
        105 Reykjav\xEDk, \xCDsland\",\"job_title\":\"\",\"organization\":\"Ve\xF0urstofa
        \xCDslands\",\"phone_primary\":\"5226000\",\"phone_secondary\":\"\",\"phone_tertiary\":\"\",\"contact_start_date\":\"1845-01-01T00:00:00\",\"contact_end_date\":null,\"comment\":\"\",\"role_is\":\"Eigandi
        st\xF6\xF0var\"}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
