interactions:
- request:
    body: '{"code": "marker", "value": "isak"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"1992-07-31T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":30888,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"isak\"},{\"attribute_datatype_code\":\"text\",\"code\":\"name\",\"date_from\":\"1992-07-31T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        name\",\"description_is\":\"Nafn st\xF6\xF0var\",\"id_attribute_value\":30889,\"name_en\":\"Name\",\"name_is\":\"Nafn\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":\"\xCDsakot\"},{\"attribute_datatype_code\":\"numeric\",\"code\":\"lat\",\"date_from\":\"1992-07-31T00:00:00\",\"date_to\":null,\"description_en\":\"Sta[...]
- request:
    body: '{"code": "marker", "value": "ISAK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/4346
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"1992-07-31T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":30888,\"name_en\":\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/5812
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"ip_address\",\"date_from\":\"1000-01-01T00:00:00\",\"date_to\":\"2019-03-29T13:28:00\",\"description_en\":\"Device
        IP-address\",\"description_is\":\"IP-tala t\xE6kis\",\"id_attribute_value\":38053,\"name_en\":\"IP-address\",\"name_is\":\"IP-tala
        t\xE6kis\",\"python_constraint\":\".*\",\"sort_order\":40,\"value\":\"157.157.222.116\"},{\"attribute_datatype_code\":\"text\",\"code\":\"phone_number\",\"date_from\":\"1000-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Device
        phone number\",\"description_is\":\"S\xEDman\xFAmer t\xE6kis\",\"id_attribute_value\":38052,\"name_en\":\"Phone
        number\",\"name_is\":\"S\xEDman\xFAmer t\xE6kis\",\"python_constraint\":\".*\",\"sort_order\":30,\"value\":\"8649054\"},{\"attribute_datatype_code\":\"text\",\"code\":\"ip_address\",\"date_from\":\"2019-03-29T00:00:00\",\"date_to\":null,\"description_en\":\"Device
        IP-address\",\"description_is\":\"IP-tala t\xE6kis\",\"id_attribute_value\":113524,\"name_en\":\"IP-address\",\"name_is\":\"IP-tala
        t\xE6kis\",\"python_constraint\":\".*\",\"sort_order\":40,\"value\":\"10.4.1.243\"}],\"children_connections\":null,\"code_entity_subtype\":\"sim_card\",\"entity_subtype_description_en\":\"MISSING
        DESCRIPTION\",\"entity_subtype_description_is\":\"VANTAR L\xDDSINGU\",\"entity_subtype_name_en\":\"SIM-card\",\"entity_subtype_name_is\":\"SIM-kort\",\"entity_type_name_en\":\"device\",\"entity_type_name_is\":\"t\xE6ki\",\"id_entity\":5812,\"id_entity_parent\":4346,\"id_entity_subtype\":55}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/entity_contacts/4346
  response:
    body:
      string: "[{\"id_contact_entity_relationship\":4388,\"id_contact\":1256,\"id_entity\":4346,\"per_time_from\":\"1992-06-13T00:00:00\",\"per_time_to\":null,\"role\":\"owner\",\"name\":\"Ve\xF0urstofa
        \xCDslands\",\"ssid\":\"6309080350\",\"address\":\"B\xFAsta\xF0arvegur 7-9,
        105 Reykjav\xEDk, \xCDsland\",\"job_title\":\"\",\"organization\":\"Ve\xF0urstofa
        \xCDslands\",\"phone_primary\":\"5226000\",\"phone_secondary\":\"\",\"phone_tertiary\":\"\",\"contact_start_date\":\"1845-01-01T00:00:00\",\"contact_end_date\":null,\"comment\":\"\",\"role_is\":\"Eigandi
        st\xF6\xF0var\"}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
